html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}
main {
    height: 100%;
}
.text-pink {
    color: #df42b1 !important;
}
.cursor-pointer {
    cursor: pointer;
}
.cursor {
    cursor: context-menu !important;
}

main .full-h {
    height: 100%;
}