html {
    scroll-behavior: smooth;
   }
body {
    margin: 0;
}
.text-pink {
    color: #df42b1 !important;
}
.cursor-pointer {
    cursor: pointer;
}

.banner {
    background-image: url("/assets/imgs/banner.jpg");
    background-size: cover;
    background-position: bottom;
    height: 800px; 
}

.navbar { 
    font-size: 20px;
}

.sticky {
    height: 80px !important;
}

.myshadow {
    background-color: rgba(0, 0, 0, 0.9);
    position: sticky;
    top: 0;
    height: 100px;
    
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #5a5d89 !important;
}

.banner-text {
    font-size: 40px;
}

.headings {
    text-align: center;
    background-image: -webkit-linear-gradient(120deg, #81808094  , #a3a3a3 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

nav .avatar {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    cursor: not-allowed;
}

.schedule {
    background-color: 	#2660A4;
}

.conference-imgs {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.conferences-card {
    border: 2px solid #fff;
    border-radius: 10px;
    min-height: 157px;
}

.active {
    background-color: #084B83;
    color: #fff;
}

.day-card {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 20px;
    min-width: 230px;
    cursor: pointer;
}

.cards {
    color: #f0f6f6aa;
    background-color: 	#42BFDD;
    border-radius: 10px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.conference-btn {
    height: 46px;
    line-height: 46px;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #ffffff;
    border-radius: 23px;
    cursor: pointer;
}

footer  .footer-container {
    background-color: #111343;
    color: #fff;
}

footer .icons-footer {
    font-size: 30px;
}

@media (min-width: 200px) {
   .active {

   color: #fff;
   }  
   .schedule {
    min-height: 1100px;
   }
}

@media (min-width: 992px) { 
    .schedule {
        min-height: 750px;
    }
    .cards .left-container {
    border-radius: 0px 10px 10px 0px;
    }
    .cards .right-container {
    border-radius: 10px 0px 0px 10px;
    }
}
