html {
    scroll-behavior: smooth;
   }
body {
    margin: 0;
}
.text-pink {
    color: #df42b1 !important;
}
.cursor-pointer {
    cursor: pointer;
}

.navbar { 
    font-size: 20px;
}

.myshadow {
    background-color: rgba(0, 0, 0, 0.9);
    position: sticky;
    top: 0;
    height: 100px; 
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #5a5d89 !important;
}
  
.speaker-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 25px;
}

.banner {
    background-image: -webkit-linear-gradient(120deg, #81808094  50%, #a3a3a3 50%);
    padding-bottom: 5px;
}

main .banner-speaker {
    object-fit: cover;
    width: 100%;
}

main .avatar {
    border-radius: 50%;
    object-fit: cover;
    background: #df42b1;
    background-image: -webkit-linear-gradient(120deg, #505add 0%, #df42b1 100%);
    background-image: -ms-linear-gradient(120deg, #505add 0%, #df42b1 100%);
    padding: 4px;
    width: 107px;
    height: 107px;
}

main .fa-brands {
    font-size: 22px;
}

main .comment-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
}

main .fa-trash:hover {
    color: red;
    cursor: pointer;
}

footer  .footer-container {
    background-color: #111343;
    color: #fff;
}

footer .icons-footer {
    font-size: 30px;
}